<header class="header">
  <nav class="et-hero-tabs">
    <h1>STICKY SLIDER NAV</h1>
    <h3>Sliding content with sticky tab nav</h3>
    <div class="et-hero-tabs-container">
      <a href="#chi-siamo" class="et-hero-tab">Chi siamo</a>
      <a href="#servizi" class="et-hero-tab">Servizi</a>
      <a href="#progetti" class="et-hero-tab">Progetti</a>
      <a href="#contatti" class="et-hero-tab">Contatti</a>
      <a href="#sostenibilita" class="et-hero-tab">Sostenibilità</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </nav>
</header>

<main class="et-main">
  <section id="chi-siamo">
    <h1>Chi siamo</h1>
    <h3>something about chi-siamo</h3>
  </section>
  <section id="servizi">
    <h1>Servizi</h1>
    <h3>something about servizi</h3>
  </section>
  <section id="progetti">
    <h1>Progetti</h1>
    <h3>something about progetti</h3>
  </section>
  <section id="contatti">
    <h1>Contatti</h1>
    <h3>something about contatti</h3>
  </section>
  <section id="sostenibilita">
    <h1>Sostenibilità</h1>
    <h3>something about sostenibilità</h3>
  </section>
</main>
