

<nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top">
  <div class="container-fluid">
    <img id="immagineElastico" src="./assets/logo.png" class="d-block mx-auto img-fluid p-0 custom-image" alt="logoEdil2000">

    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavDarkDesktop">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#chi-siamo">Chi siamo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servizi">Servizi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#progetti">Progetti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contatti">Contatti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sostenibilita">Sostenibilità</a>
        </li>
      </ul>
    </div>

    <!-- Voci di navigazione nel dropdown per la modalità mobile -->
    <!-- <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li ngbDropdown class="nav-item dropdown">
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownBasic1">
            <li><a ngbDropdownItem routerLink="/chi-siamo">Chi siamo</a></li>
            <li><a ngbDropdownItem routerLink="/servizi">Servizi</a></li>
            <li><a ngbDropdownItem routerLink="/progetti">Progetti</a></li>
            <li><a ngbDropdownItem routerLink="/contatti">Contatti</a></li>
            <li><a ngbDropdownItem routerLink="/sostenibilita">Sostenibilità</a></li>
          </ul>
        </li>
      </ul>
    </div> -->

        <!-- Voci di navigazione nel dropdown per la modalità mobile -->
        <div class="collapse " id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li ngbDropdown class="nav-item dropdown">
              <!-- Inserisci qui le tue voci di navigazione per dispositivi mobili -->
                <!-- Dropdown menu -->
      <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownBasic1">
        <li><a ngbDropdownItem routerLink="/chi-siamo">Chi siamo</a></li>
        <li><a ngbDropdownItem routerLink="/servizi">Servizi</a></li>
        <li><a ngbDropdownItem routerLink="/progetti">Progetti</a></li>
        <li><a ngbDropdownItem routerLink="/contatti">Contatti</a></li>
        <li><a ngbDropdownItem routerLink="/sostenibilita">Sostenibilità</a></li>
      </ul>
    </li>
  </ul>

        </div>
      </div>
</nav>

<!-- <div class="btn-group">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Menu item</a></li>
    <li><a class="dropdown-item" href="#">Menu item</a></li>
    <li><a class="dropdown-item" href="#">Menu item</a></li>
  </ul>
</div> -->





<!-- header.component.html -->
<main class="et-main">
  <section id="chi-siamo" class="et-slide">
    <h1>Chi siamo</h1>
    <h3>something about chi-siamo</h3>
    <button class="btn btn-primary" (click)="navigateToSection('chi-siamo')">Scopri di più</button>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="image1.jpg" alt="Image 1" />
      </ng-template>
      <ng-template ngbSlide>
        <img src="image2.jpg" alt="Image 2" />
      </ng-template>
    </ngb-carousel>
  </section>
  <section id="servizi" class="et-slide">
    <h1>Servizi</h1>
    <h3>something about chi-siamo</h3>
    <button class="btn btn-primary"(click)="navigateToSection('servizi')">Scopri di più</button>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="image1.jpg" alt="Image 1" />
      </ng-template>
      <ng-template ngbSlide>
        <img src="image2.jpg" alt="Image 2" />
      </ng-template>
    </ngb-carousel>
  </section>
  <section id="progetti" class="et-slide">
    <h1>Progetti</h1>
    <h3>something about progetti</h3>
    <button class="btn btn-primary" (click)="navigateToSection('progetti')">Scopri di più</button>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="image1.jpg" alt="Image 1" />
      </ng-template>
      <ng-template ngbSlide>
        <img src="image2.jpg" alt="Image 2" />
      </ng-template>
    </ngb-carousel>
  </section>

  <!-- Ripeti la struttura sopra per le altre sezioni -->
</main>
