


<section id="chi-siamo">
  <div class="background-image">
<!--
    <img src="assets/wright1.jpg" alt=""> -->
  </div>
  <div class="content">
    <div class="section">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center text-primary">La nostra storia</h2>
            <p>
              La Edil 2000 è un'azienda edilizia a conduzione familiare nata agli inizi degli anni ’60.
              Proprio per questo mantiene un approccio flessibile nei confronti del cliente comprendendo necessità e...
            </p>
            <p>
              Oggi Vito e ... hanno proseguito la tradizione familiare
              e hanno dato vita a un’azienda in costante crescita: sin da subito riescono a
              distinguersi per la capacità di unire creatività e innovazione, cercando sempre di
              migliorare in termini di qualità e di esperienza.
            </p>
            <p>
              Negli anni espandono le loro competenze in diversi settori spostandosi dal privato al
              pubblico, sempre guidati dai valori fondanti che li contraddistinguono. Pasquale e Vito dedicano il loro tempo e le loro energie per assicurare la serietà e
              professionalità della loro azienda cercando sempre di offrire ai propri clienti
              le tecnologie più avanzate e i materiali più innovativi.
            </p>
            <p>
              Questo impegno costante ha portato i suoi frutti e oggi Edil 2000 è una
              azienda di riferimento importante e consolidata nel panorama Pugliese e del sud Italia
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="section">

    </div>

  </div>
</section>
