<!-- <div class="carousel-container">
  <ngb-carousel *ngIf="images.length > 0" >
    <ng-template ngbSlide *ngFor="let image of images">
      <img [src]="image.src" [alt]="image.alt" class="d-block w-100" />
    </ng-template>
  </ngb-carousel>
</div>
 -->


<!-- chi-siamo.component.html -->
<section id="chi-siamo">
  <div class="background-image">
    <!-- Immagine di sfondo -->
  </div>
  <div class="content">
    <div class="section">
      <!-- Contenuto della prima sezione -->
      questsa è la prima sezione
    </div>
    <div class="section">
      <!-- Contenuto della seconda sezione -->
    </div>
    <!-- Aggiungi altre sezioni secondo necessità -->
  </div>
</section>
