
<main class="et-main">
  <section id="chi-siamo" class="et-slide" style="height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="chi-siamo-background" style="background-image: url('assets/roberto-reposo-unsplash.jpg'); background-size: cover; background-position: center; height: 100%; width: 100%; position: relative;">
      <div class="text-container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #fff;">
        <h1>Chi siamo</h1>
        <h3>something about chi-siamo</h3>
        <button class="btn btn-primary" (click)="navigateToSection('chi-siamo')">Scopri di più</button>
      </div>
    </div>

  </section>
  <section id="progetti" class="et-slide">
    <h1>Progetti</h1>
    <h3>something about progetti</h3>
    <button class="btn btn-primary" (click)="navigateToSection('progetti')">Scopri di più</button>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="image1.jpg" alt="Image 1" />
      </ng-template>
      <ng-template ngbSlide>
        <img src="image2.jpg" alt="Image 2" />
      </ng-template>
    </ngb-carousel>
  </section>
</main>
