<!-- <form>
  <fieldset class="roof left" >
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
  </fieldset>

  <fieldset class="roof" style="--windows:2;">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
  </fieldset>

  <fieldset class="roof center" style="--windows:2;gap:1vw;">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
  </fieldset>

  <fieldset class="roof" style="--windows:3;--gap:1.5vw;">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
  </fieldset>

  <fieldset class="roof antenna" style="--gap:.75vw;">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox" checked>
    <input type="checkbox">
  </fieldset>
</form> -->


<main class="et-main">
  <section id="chi-siamo" class="et-slide">
    <h1>Chi siamo</h1>
    <h3>something about chi-siamo</h3>
    <button class="btn btn-primary" (click)="navigateToSection('chi-siamo')">Scopri di più</button>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="image1.jpg" alt="Image 1" />
      </ng-template>
      <ng-template ngbSlide>
        <img src="image2.jpg" alt="Image 2" />
      </ng-template>
    </ngb-carousel>
  </section>
  <section id="servizi" class="et-slide">
    <h1>Servizi</h1>
    <h3>something about chi-siamo</h3>
    <button class="btn btn-primary"(click)="navigateToSection('servizi')">Scopri di più</button>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="image1.jpg" alt="Image 1" />
      </ng-template>
      <ng-template ngbSlide>
        <img src="image2.jpg" alt="Image 2" />
      </ng-template>
    </ngb-carousel>
  </section>
  <section id="progetti" class="et-slide">
    <h1>Progetti</h1>
    <h3>something about progetti</h3>
    <button class="btn btn-primary" (click)="navigateToSection('progetti')">Scopri di più</button>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="image1.jpg" alt="Image 1" />
      </ng-template>
      <ng-template ngbSlide>
        <img src="image2.jpg" alt="Image 2" />
      </ng-template>
    </ngb-carousel>
  </section>
</main>
